# Игнорируем файл с секретами
.env

wiz_guide_fn/wiz_guide_fn/settings.py

# Игнорируем файлы Python
*.pyc
__pycache__/

# Игнорируем виртуальное окружение
venv/

# Игнорируем настройки IDE
.vscode/
.idea/

# Игнорируем базы данных
db.sqlite3

