# Игнорируем файл с секретами
.env

# Игнорируем файлы Python
*.pyc
__pycache__/

# Игнорируем виртуальное окружение
venv/

# Игнорируем настройки IDE
.vscode/
.idea/

# Игнорируем базы данных
db.sqlite3